body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  color: white;
  background-color: #121212;
  min-height: 100vh;
}

.App.light {
  color: black;
  background-color: #fbeec1ce;
}

.Card.light {
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;
  /* border: 3px solid black; */
  background-color: rgba(84, 149, 167, 0.664);
  border-radius: 25px;
  box-shadow: 5px 5px 5px grey;
}

.Card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;
  /* border: 3px solid black; */
  background-color: rgb(50, 91, 102);
  border-radius: 25px;
  box-shadow: 5px 5px 5px midnightblue;
}

.button {
  font-family: Garamond;
}